[package]
name = "actor"
version = "0.1.0"
edition = "2021"
authors = [ "Xanthorrhizol <xanthorrhizol@proton.me>" ]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1.68"
log = "0.4.17"
thiserror = "1.0.40"
tokio = { version = "1.28.1", features = ["full"] }
